{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "indent": ["warn", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "no-unused-vars": ["warn"],
    "no-console": 0,
  },
  "root": true,
}