<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>

    <main role="main">

      <div class="container">

        <!-- title -->
        <div class="py-5 text-center">
          <i class="fas fa-fire fa-3x prio1-1"></i>
          <h2>Brandmeldingen</h2>
          <h6>Regio Utrecht</h6>
        </div>


        <!-- filters -->
        <div class="row mb-3">
          <div class="col-md">
            <form>
              <div class="form-row">

                <div class="col">
                  <div class="form-group">
                    <label class="col-form-label col-form-label-sm a-parameter"
                        data-parameter="regio"
                        data-default-value="18"
                        data-endpoint="regios/"
                        data-pk="id"
                        data-desc="omschrijving"
                        data-control="select"/>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="col-form-label col-form-label-sm a-parameter"
                        data-parameter="dienst"
                        data-default-value="2"
                        data-endpoint="diensten/"
                        data-pk="id"
                        data-desc="omschrijving"
                        data-control="select"/>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="col-form-label col-form-label-sm a-parameter"
                        data-parameter="plaats"
                        data-default-value=""
                        data-endpoint="plaatsen/"
                        data-pk=""
                        data-desc="plaats"
                        data-control="select"/>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="col-form-label col-form-label-sm a-parameter"
                        data-parameter="capcodes"
                        data-default-value="707507"
                        data-endpoint="capcodes/"
                        data-pk="capcode"
                        data-desc="tekst"
                        data-control="select"/>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>


        <!-- summary -->
        <div class="row mb-5">
          <div class="col-12 alert alert-warning hidden" role="alert">
            <i class="fas fa-exclamation-triangle"></i> Geen resultaten gevonden. Probeer een andere zoekopdracht.
          </div>
          <div class="col-12 a-facts">
            <p>
            Tussen <span class="a-fact" data-value="d3.min(v, d => d.date)" data-timeformat="%d-%m-%Y" data-valueformat=""></span> en <span class="a-fact" data-value="new Date()" data-timeformat="%d-%m-%Y" data-valueformat=""></span> zijn er totaal <span class="a-fact" data-value="d3.sum(v, d => 1)" data-timeformat="" data-valueformat=".0f"></span> alarmeringen geweest. De laatste alarmering is <span class="a-fact" data-value="Math.floor((new Date() - d3.max(v, d => d.date)) / (1000*60*60*24))" data-timeformat="" data-valueformat=".0f"></span> dagen geleden.
            </p>
          </div>
        </div>

        <!-- metrics and map -->
        <div class="row">
          <div class="col-md a-metrics">
            <i class="fas fa-spinner fa-spin fa-2x wait-spinner wait-metrics"></i>
          </div>
          <div class="col-md-8 a-map">
            <div id="mapid" style="height: 450px; position: relative;"></div>
          </div>
        </div>

        <hr>

        <!-- footer -->
        <footer class="footer">
          <div class="row">
            <div class="col">
                2018 <i class="far fa-copyright fa-2x"></i> by <a href="https://www.hugojanssen.nl">HUGO.</a><br>
                <small class="text-muted">data from <a href="https://www.alarmeringdroid.nl/faq#">alarmeringdroid</a></small>
            </div>
            <div class="col text-right">
              <a href="https://github.com/nl-hugo/fire-dept"><i class="fab fa-github fa-2x"></i></a> <a href="https://fire-dept.herokuapp.com/"><i class="fas fa-globe fa-2x"></i></a>
            </div>
        </footer>

      </div> <!-- /container -->
    
    </main>
  </body>
</html>