// _metrics.scss

.a-metric {
  height: 80px;
  width: 100%;
  display: block;

  :hover {
    cursor:pointer;

  }

  span.fa-stack {
    float: left;
  }

  .fa-stack-2x {
    color: $primary-color;
  }

  .title {
    margin-left: 50px;
    font-size: 0.85em;
    color: grey;
  }

  .number {
    margin-left: 50px;
    font-size: 1.5em;
    font-weight: bold;
  }

  &.dimmed {
    opacity: 0.5;
  }

  .line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }

  .area {
    stroke: none;
    fill: #e7e7e7;
  }

  svg {
    position: relative;
    bottom: 60px;
    left: 40px;
    z-index: -99 !important;
  }
}

.wait-spinner.wait-metrics {
  float: right;
}
