// _parameter.scss

.a-parameter select {
  /*position: absolute;*/
  /*width: 100%;*/
  /*min-width: 160px;*/
  font-size: 0.9em;
  color: darkslategray;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
}

.a-parameter select:focus,
.a-parameter select:hover {
  outline: none;
  border-bottom: solid 1px $primary-color;
}

/*.a-parameter select:focus {
  outline: none;
  border: 2px solid red;
  border-bottom: solid 1px $primary-color;
}
*/
