// _parameter.scss

.a-parameter select {
  font-size: 0.9em;
  color: darkslategray;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
}

.a-parameter text {
  margin-left: 10px;
  font-size: 0.8em;
  color: gray;
}

.a-parameter select:focus,
.a-parameter select:hover {
  border-bottom: solid 1px $primary-color;
  box-shadow: none; 
}
