// base.scss

@import 'variable';
@import 'mixins';
@import 'parameter';
@import 'metrics';
@import 'map';


/*font-family: 'Montserrat', sans-serif;*/
/* montserrat-regular - latin */

/* montserrat-700 - latin */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: darkslategray;
  margin-bottom: 40px;
}

.wait-spinner.hidden {
  display: none;
}

.a-fact {
  font-size: 1.8em;
  color: $primary-color;
}

.hidden {
  display: none;
}

@include generate-elements("prio1-0", $secondary-color);
@include generate-elements("prio1-1", $primary-color);
